{% extends 'base.html' %}
{% block content %}

<h1>{{title}}</h1>

<div class="container">
<div class="row">
    <div class="col md-6">
        {% if pesan %}
        <div class="alert alert-success">
            {{ pesan }}
        </div>

        {% endif %}
<form action="{% url 'updatejurnal' Jurnals.id %}" method="post">
   {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Simpan" class="btn btn-success mt-3">
    <a href="/halamanjurnal/" class="btn btn-warning mt-3">Halaman Utama</a>
</form>
</div>
</div>
</div>
{% endblock %}